section .card:hover{
    background-color: blue;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
    }
   
  .tarkikComandSlider {
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }
  
  .slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
    /* margin-bottom: -5px; */
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .slick-dots li button {
    display: none;
  }
  .slick-dots li:before {
    top: 1px;
    transition: all 0.5s;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #999;
    position: absolute;
    
  }
  .slick-dots li.slick-active:before {
    top: 0;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    background-color: #2A4988;
  }
  
  .slick-prev {
    left: -10px;
    transform: rotate(180deg);
  
  }
  
  .slick-next {
    right: -10px;
     
  
  }
  
  .slick-arrow {
    top: 50%;
    height: 26px;
    width: 14px;
    margin-top: -13px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-wrapper {
    z-index: 999;
    position: relative;
    width: 70%;
  }
  .search-wrapper .search-card {
    position: inherit;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .berita-wrapper {
    position: relative;
    /* z-index: 9999999; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page-section {
    position: relative;
  }

  .card-blog {
    width: 100%;
  }

  .dokter-home-wrapper .container,
  .fitur-unggulan-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sdm-home {
    position: relative;
    top: 50px;
  }

  .fitur-unggulan-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-fitur-unggulan .card:hover{
    background-color: #4a63a0;
    cursor: context-menu;
  }

  .rounded-circle-container {
    width: 80px; /* Atur lebar container */
    height: 80px; /* Atur tinggi container */
    overflow: hidden;
    border-radius: 50%; /* Membuat efek lingkaran */
  }

  .rounded-circle-container img {
    width: 100%; /* Gambar mengisi container */
    height: auto; /* Tetap proporsional */
    display: block;
  }

  .card-dokter {
    position: relative;
    box-sizing: border-box;
    transition: .3s;
  }
  .card-dokter:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: -3px;
    background-color: #f2f2f2;
  }
  .aksi-dokter {
    display: none;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: .3s;
  }
  .aksi-dokter span {
    padding: 5px;
    color: #333;
    cursor: pointer;
  }
  .aksi-dokter span:hover {
    color: #999;
  }
  .nav-link {
    cursor: pointer;
  }
  .dottree {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    transition: .3s;
  }
  .dottree:hover {
    font-size: 18px;
  }

  .info-promo-btn {
    transition: .3s;
    border: 1px solid #999;
  }
  .info-promo-btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #999;
  }

  .konten-promo {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
  }

  .dokter-image-wrapper {
    padding: 0 100px 0 100px;
  }

  .promo-home-wrapper {
    padding: 20px 100px 20px 100px;
  }
    @media screen and (max-width: 767px) {
        .search-wrapper {
            width: 90%;
        }
        .search-wrapper .search-card {
            position: inherit;
            top: 20px;
        }
        .display-4 {
            font-size: 24px;
        }
        .page-hero {
            height: 300px;
        }

        .berita-wrapper {
            position: relative;
            /* z-index: 9999999; */
            top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .dokter-home-wrapper {
            position: relative;
            top: 50px;
        }

        .dokter-image-wrapper h1 {
          font-size: 24px;
        }

        .dokter-image-wrapper p {
          font-size: 14px;
        }

        .dokter-image-wrapper {
          padding: 0 50px 0 50px;
        }
        .promo-home-wrapper {
          padding: 20px 50px 20px 50px;
        }
    }